@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: 0;
  padding: 0;
}
/* Shared styles */
.text-primary {
  color: #fd6e0a;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.primary-bg {
  background-color: #ffffff;
}
.secondary-bg {
  background-color: #fff8f3;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
.btn-secondary {
  background-color: transparent;
  font-weight: 700;
  font-size: 20px;
  color: #fd6e0a;
  padding: 18px 24px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.txt-center {
  text-align: center;
}
/* Background image */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 18;
  margin-top: 0px;
  margin-bottom: 30px;
}
.btn-contact {
  margin-left: 30px;
}
.banner-image {
  width: 580px;
}
/* Main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* About styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.details {
  padding: 0 5px;
  border: 1px solid #000000;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
}
.item-description {
  color: #474747;
  font-weight: bold;
  font-size: 20px;
}
/* Skills section styles */

.skill-container {
  padding-top: 50px;
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-title {
  font-weight: bold;
  font-size: 20px;
  color: #181818;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.skills > p {
  padding: 0 115px;
}
/* Resume style */
.resume-container {
  display: flex;
  gap: 24px;
}
.resume-title {
  font-weight: bold;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.experience-title {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 0px;
}
.experience-subtitle {
  font-weight: semibold;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 0px;
}
.experience-descripion {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.resume hr {
  margin: 30px 0;
  color: #d1d1d1;
}
.download-btn {
  margin: 50px 0px;
}
/* Footer styles */
.contact {
  display: flex;
  gap: 100px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px 200px;
}
.contact-column {
  width: 50%;
}
.form input[type="text"],
.form input[type="email"],
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  font-size: 16px;
  color: #757575;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.social-links a {
  margin-right: 24px;
  margin-top: 28px;
  height: 24px;
  width: 24px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  nav,
  nav > ul,
  .skill-container,
  .resume-container,
  .contact,
  .about-items,
  .banner {
    flex-direction: column;
  }
  nav > ul {
    gap: 20px;
  }
  .banner {
    margin: 20px;
  }
  .header {
    background-image: none;
  }
  .banner-image {
    width: 100%;
  }
  .contact,
  .about,
  .resume-column,
  .skills > p {
    padding: 20px;
  }
  .btn-primary {
    margin-bottom: 20px;
  }
  .btn-contact {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .contact-column {
    width: 100%;
  }
  .form input[type="text"],
  .form input[type="email"],
  textarea {
    width: calc(100% - 60px);
  }
  .skills > p {
    text-align: justify;
  }
}

/* Tablet specific media query */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner {
    flex-direction: column;
  }
}
